java/.metadata/
java/debug_world/
java/test/test_tmp/
java/Translation/doc/
java/Translation/check-nullness
java/Translation/javadoc
java/DO_NOT_DELETE_Observation_Translation
java/DO_NOT_DELETE_Speculation_Translation
java/Generation/.cache
java/Generation/.scala_dependencies
java/test/.*/actual_.*xml
java/test/.*/actual_.*txt
java/test/.*/diff_.*txt
java/dist/
java/optimizer/build/

*.aux
*.blg
*.log
*.out
*~
.#*
.gradle
*.pyc
*dotfiles/
*.swp
*.orig
*.rej
*.class
*.jar

# IntelliJ project files
*.iml
*.ipr
.idea

# build products for various IDEs and build systems
out
classes
bin
build
dist

# Mac OS X leaves these around
.DS_Store

flash/PipeJam3/build/FlashBuilder/PipeJam3Web/.settings/
flash/PipeJam3/build/FlashBuilder/PipeJam3Web/bin-debug
flash/PipeJam3/build/FlashBuilder/PipeJam3Web/bin-release
flash/PipeJam3/build/FlashBuilder/PipeJam3Web/html-template
flash/PipeJam3/build/FlashBuilder4.7/PipeJam3Web/.settings/
flash/PipeJam3/build/FlashBuilder4.7/PipeJam3Web/bin-debug
flash/PipeJam3/build/FlashBuilder4.7/PipeJam3Web/bin-release
flash/PipeJam3/build/FlashBuilder4.7/PipeJam3Web/html-template
flash/PipeJam3/build/make/bin/
flash/PipeJam3/src/buildInfo/BuildInfo.as
flash/level_creation_scripts/hadoopv7_subgraphs
flash/Classic2Grid/SimpleLayout1-Simple-in.dot
flash/Classic2Grid/SimpleLayout1-Simple-out.dot
flash/Classic2Grid/compiletuto.bat
flash/Classic2Grid/output/Application1Layout-Application1-in.dot
flash/Classic2Grid/output/Application1Layout-Application1-out.dot
flash/Classic2Grid/output/ApplicationLayout-Application-in.dot
flash/Classic2Grid/output/ApplicationLayout-Application-out.dot
flash/Classic2Grid/output/ConnectionLayout-Connection-in.dot
flash/Classic2Grid/output/ConnectionLayout-Connection-out.dot
flash/Classic2Grid/output/DemoWorldLayout-Application-in.dot
flash/Classic2Grid/output/DemoWorldLayout-Application-out.dot
flash/Classic2Grid/output/DemoWorldLayout-Application1-in.dot
flash/Classic2Grid/output/DemoWorldLayout-Application1-out.dot
flash/Classic2Grid/output/DemoWorldLayout-Application2-in.dot
flash/Classic2Grid/output/DemoWorldLayout-Application2-out.dot
flash/Classic2Grid/output/DemoWorldLayout-Connection-in.dot
flash/Classic2Grid/output/DemoWorldLayout-Connection-out.dot
flash/Classic2Grid/output/DemoWorldLayout-Scribble-in.dot
flash/Classic2Grid/output/DemoWorldLayout-Scribble-out.dot
flash/Classic2Grid/output/DemoWorldLayout-Server-in.dot
flash/Classic2Grid/output/DemoWorldLayout-Server-out.dot
flash/Classic2Grid/output/DemoWorldLayout-Storage-in.dot
flash/Classic2Grid/output/DemoWorldLayout-Storage-out.dot
flash/Classic2Grid/output/DemoWorldLayout-UserData-in.dot
flash/Classic2Grid/output/DemoWorldLayout-UserData-out.dot
flash/Classic2Grid/output/DemoWorldLayout-Vulture-in.dot
flash/Classic2Grid/output/DemoWorldLayout-Vulture-out.dot
flash/Classic2Grid/output/ScribbleLayout-Scribble-in.dot
flash/Classic2Grid/output/ScribbleLayout-Scribble-out.dot
flash/Classic2Grid/output/ServerLayout-Server-in.dot
flash/Classic2Grid/output/ServerLayout-Server-out.dot
flash/Classic2Grid/output/StorageLayout-Storage-in.dot
flash/Classic2Grid/output/StorageLayout-Storage-out.dot
flash/Classic2Grid/output/UserDataLayout-UserData-in.dot
flash/Classic2Grid/output/UserDataLayout-UserData-out.dot
flash/Classic2Grid/output/VultureLayout-Vulture-in.dot
flash/Classic2Grid/output/VultureLayout-Vulture-out.dot
flash/Classic2Grid/output/tutorialLayout-NarrowBoxes-in.dot
flash/Classic2Grid/output/tutorialLayout-NarrowBoxes-out.dot
flash/Classic2Grid/output/tutorialLayout-Optimize-in.dot
flash/Classic2Grid/output/tutorialLayout-Optimize-out.dot
flash/Classic2Grid/output/tutorialLayout-SatisfyBoxes-in.dot
flash/Classic2Grid/output/tutorialLayout-SatisfyBoxes-out.dot
flash/Classic2Grid/output/tutorialLayout-WidenBoxes-in.dot
flash/Classic2Grid/output/tutorialLayout-WidenBoxes-out.dot
flash/Classic2Grid/output/tutorialLayout-net_sf_picard_metrics_VersionHeader-in.dot
flash/Classic2Grid/output/tutorialLayout-net_sf_picard_metrics_VersionHeader-out.dot
flash/Classic2Grid/tmp/Application1Layout-Application1-in.dot
flash/Classic2Grid/tmp/Application1Layout-Application1-out.dot
flash/Classic2Grid/tmp/ApplicationLayout-Application-in.dot
flash/Classic2Grid/tmp/ApplicationLayout-Application-out.dot
flash/Classic2Grid/tmp/ConnectionLayout-Connection-in.dot
flash/Classic2Grid/tmp/ConnectionLayout-Connection-out.dot
flash/Classic2Grid/tmp/DemoWorldLayout-Application-in.dot
flash/Classic2Grid/tmp/DemoWorldLayout-Application-out.dot
flash/Classic2Grid/tmp/DemoWorldLayout-Application1-in.dot
flash/Classic2Grid/tmp/DemoWorldLayout-Application1-out.dot
flash/Classic2Grid/tmp/DemoWorldLayout-Application2-in.dot
flash/Classic2Grid/tmp/DemoWorldLayout-Application2-out.dot
flash/Classic2Grid/tmp/DemoWorldLayout-Connection-in.dot
flash/Classic2Grid/tmp/DemoWorldLayout-Connection-out.dot
flash/Classic2Grid/tmp/DemoWorldLayout-Scribble-in.dot
flash/Classic2Grid/tmp/DemoWorldLayout-Scribble-out.dot
flash/Classic2Grid/tmp/DemoWorldLayout-Server-in.dot
flash/Classic2Grid/tmp/DemoWorldLayout-Server-out.dot
flash/Classic2Grid/tmp/DemoWorldLayout-Storage-in.dot
flash/Classic2Grid/tmp/DemoWorldLayout-Storage-out.dot
flash/Classic2Grid/tmp/DemoWorldLayout-UserData-in.dot
flash/Classic2Grid/tmp/DemoWorldLayout-UserData-out.dot
flash/Classic2Grid/tmp/DemoWorldLayout-Vulture-in.dot
flash/Classic2Grid/tmp/DemoWorldLayout-Vulture-out.dot
flash/Classic2Grid/tmp/ScribbleLayout-Scribble-in.dot
flash/Classic2Grid/tmp/ScribbleLayout-Scribble-out.dot
flash/Classic2Grid/tmp/ServerLayout-Server-in.dot
flash/Classic2Grid/tmp/ServerLayout-Server-out.dot
flash/Classic2Grid/tmp/StorageLayout-Storage-in.dot
flash/Classic2Grid/tmp/StorageLayout-Storage-out.dot
flash/Classic2Grid/tmp/UserDataLayout-UserData-in.dot
flash/Classic2Grid/tmp/UserDataLayout-UserData-out.dot
flash/Classic2Grid/tmp/VultureLayout-Vulture-in.dot
flash/Classic2Grid/tmp/VultureLayout-Vulture-out.dot
flash/PipeJam3/compiletuto.bat
flash/level_creation_scripts/L21414_V17680_OPT.cnf
flash/level_creation_scripts/player/L13701_V120.cnf
flash/level_creation_scripts/player/L13722_V426.cnf
flash/level_creation_scripts/player/L13723_V529.cnf
flash/level_creation_scripts/player/rand-1000-1.cnf
flash/level_creation_scripts/player/rand-1000-2.cnf
flash/level_creation_scripts/player/rand-1000-3.cnf
flash/level_creation_scripts/player/rand-200-1.cnf
flash/level_creation_scripts/player/rand-200-2.cnf
flash/level_creation_scripts/player/rand-200-3.cnf
flash/level_creation_scripts/player/rand-500-1.cnf
flash/level_creation_scripts/player/rand-500-2.cnf
flash/level_creation_scripts/player/rand-500-3.cnf
flash/level_creation_scripts/sat/maxsatz2009.c
flash/level_creation_scripts/test.dot
flash/level_creation_scripts/ubcsat.exe
website/html/scripts/hadoop-typedbytes-TypeLayout-org.apache.hadoop.typedbytes.Type-BOXES-in.dot
website/html/scripts/hadoop-typedbytes-TypeLayout-org.apache.hadoop.typedbytes.Type-BOXES-out.dot
website/html/scripts/hadoop-typedbytes-TypeLayout-org.apache.hadoop.typedbytes.Type-BOXES.eps
1031.patch
1083.patch
1103.patch
1167.patch
flash/PipeJam3/SampleWorlds/L10823_V16.json
flash/PipeJam3/SampleWorlds/L10823_V16Assignments.json
flash/PipeJam3/SampleWorlds/L10823_V16Layout.json
flash/PipeJam3/SampleWorlds/L11367_V1031.json
flash/PipeJam3/SampleWorlds/L11367_V1031Assignments.json
flash/PipeJam3/SampleWorlds/L11367_V1031Layout.json
flash/PipeJam3/SampleWorlds/L11368_V6232.json
flash/PipeJam3/SampleWorlds/L11368_V6232Assignments.json
flash/PipeJam3/SampleWorlds/L11368_V6232Layout.json
flash/PipeJam3/SampleWorlds/L11369_V6238.json
flash/PipeJam3/SampleWorlds/L11369_V6238Assignments.json
flash/PipeJam3/SampleWorlds/L11369_V6238Layout.json
flash/PipeJam3/SampleWorlds/L11370_V16022.json
flash/PipeJam3/SampleWorlds/L11370_V16022Assignments.json
flash/PipeJam3/SampleWorlds/L11370_V16022Layout.json
flash/PipeJam3/SampleWorlds/L21414_V17680_OPT.json
flash/PipeJam3/SampleWorlds/L21414_V17680_OPTAssignments.json
flash/PipeJam3/SampleWorlds/L21414_V17680_OPTLayout.json
flash/PipeJam3/SampleWorlds/constraints.json
flash/PipeJam3/SampleWorlds/hadoop.json
flash/PipeJam3/SampleWorlds/hadoopAssignments.json
flash/PipeJam3/SampleWorlds/hadoopLayout.json
flash/PipeJam3/SampleWorlds/rand-1000-1.json
flash/PipeJam3/SampleWorlds/rand-1000-1Assignments.json
flash/PipeJam3/SampleWorlds/rand-1000-1Layout.json
flash/PipeJam3/SampleWorlds/rand-1000-2.json
flash/PipeJam3/SampleWorlds/rand-1000-2Assignments.json
flash/PipeJam3/SampleWorlds/rand-1000-2Layout.json
flash/PipeJam3/SampleWorlds/rand-1000-3.json
flash/PipeJam3/SampleWorlds/rand-1000-3Assignments.json
flash/PipeJam3/SampleWorlds/rand-1000-3Layout.json
flash/PipeJam3/SampleWorlds/rand-200-1.json
flash/PipeJam3/SampleWorlds/rand-200-1Assignments.json
flash/PipeJam3/SampleWorlds/rand-200-1Layout.json
flash/PipeJam3/SampleWorlds/rand-200-2.json
flash/PipeJam3/SampleWorlds/rand-200-2Assignments.json
flash/PipeJam3/SampleWorlds/rand-200-2Layout.json
flash/PipeJam3/SampleWorlds/rand-200-3.json
flash/PipeJam3/SampleWorlds/rand-200-3Assignments.json
flash/PipeJam3/SampleWorlds/rand-200-3Layout.json
flash/PipeJam3/SampleWorlds/rand-500-1.json
flash/PipeJam3/SampleWorlds/rand-500-1Assignments.json
flash/PipeJam3/SampleWorlds/rand-500-1Layout.json
flash/PipeJam3/SampleWorlds/rand-500-2.json
flash/PipeJam3/SampleWorlds/rand-500-2Assignments.json
flash/PipeJam3/SampleWorlds/rand-500-2Layout.json
flash/PipeJam3/SampleWorlds/rand-500-3.json
flash/PipeJam3/SampleWorlds/rand-500-3Assignments.json
flash/PipeJam3/SampleWorlds/rand-500-3Layout.json
flash/PipeJam3/lib/audio/axtoncrolley-nodens-field-song.mp3
flash/PipeJam3/obj/
flash/level_creation_scripts/L21414_V17680.json
flash/level_creation_scripts/L21414_V17680_OPT.json
flash/level_creation_scripts/L21414_V17680_OPTAssignments.json
flash/level_creation_scripts/L21414_V17680_OPTLayout.json
flash/level_creation_scripts/Links.json
flash/level_creation_scripts/auto/rand-1000-1.json
flash/level_creation_scripts/auto/rand-1000-2.json
flash/level_creation_scripts/auto/rand-1000-3.json
flash/level_creation_scripts/auto/rand-200-1.json
flash/level_creation_scripts/auto/rand-200-2.json
flash/level_creation_scripts/auto/rand-200-3.json
flash/level_creation_scripts/auto/rand-500-1.json
flash/level_creation_scripts/auto/rand-500-2.json
flash/level_creation_scripts/auto/rand-500-3.json
flash/level_creation_scripts/hadoop-v8-constraints.json
flash/level_creation_scripts/player/L13701_V120.json
flash/level_creation_scripts/player/L13701_V120Assignments.json
flash/level_creation_scripts/player/L13701_V120Layout.json
flash/level_creation_scripts/player/L13722_V426.json
flash/level_creation_scripts/player/L13722_V426Assignments.json
flash/level_creation_scripts/player/L13722_V426Layout.json
flash/level_creation_scripts/player/L13723_V529.json
flash/level_creation_scripts/player/L13723_V529Assignments.json
flash/level_creation_scripts/player/L13723_V529Layout.json
flash/level_creation_scripts/player/L13724_V1017.json
flash/level_creation_scripts/player/L13724_V1017Assignments.json
flash/level_creation_scripts/player/L13727_V4924.json
flash/level_creation_scripts/player/L13727_V4924Assignments.json
flash/level_creation_scripts/player/L13727_V4924Layout.json
flash/PipeJam3/.settings/org.eclipse.core.resources.prefs
flash/PipeJam3/lib/assets/TutorialTextbox.png
flash/PipeJam3/lib/assets/particle/error - Copy.pex
flash/PipeJam3/lib/assets/particle/error1.pex
flash/PipeJam3/lib/assets/particle/error_particle - Copy (2).png
flash/PipeJam3/lib/assets/particle/error_particle - Copy.png
flash/PipeJam3/lib/assets/particle/long_particle.png
flash/PipeJam3/lib/assets/particle/particle.pex
flash/PipeJam3/lib/assets/particle/spark_particle.png
flash/PipeJam3/lib/assets/particle/texture.png
flash/PipeJam3/src/media/drugs.pex
flash/PipeJam3/src/media/drugs_particle.png
flash/PipeJam3/src/media/fire.pex
flash/PipeJam3/src/media/fire_particle.png
flash/PipeJam3/src/media/jellyfish.pex
flash/PipeJam3/src/media/jellyfish_particle.png
flash/PipeJam3/src/media/sun.pex
flash/PipeJam3/src/media/sun_particle.png
flash/level_creation_scripts/new/autosolve_wcnfs.py
flash/level_creation_scripts/new/constraints2grid.py
flash/level_creation_scripts/new/load_constraints_graph.py
flash/level_creation_scripts/new/split_constraints_by_subgraph.py
flash/PipeJam3/src/RandomPlayer.txt
flash/PipeJam3.zip
flash/PipeJam3/SampleWorlds/L10823_V16.zip
flash/PipeJam3/SampleWorlds/L10823_V16Assignments.zip
flash/PipeJam3/SampleWorlds/L10823_V16Layout.zip
flash/PipeJam3/SampleWorlds/L11367_V1031.zip
flash/PipeJam3/SampleWorlds/L11367_V1031Assignments.zip
flash/PipeJam3/SampleWorlds/L11367_V1031Layout.zip
flash/PipeJam3/SampleWorlds/L11368_V6232.zip
flash/PipeJam3/SampleWorlds/L11368_V6232Assignments.zip
flash/PipeJam3/SampleWorlds/L11368_V6232Layout.zip
flash/PipeJam3/SampleWorlds/L11369_V6238.zip
flash/PipeJam3/SampleWorlds/L11369_V6238Assignments.zip
flash/PipeJam3/SampleWorlds/L11369_V6238Layout.zip
flash/PipeJam3/SampleWorlds/L11370_V16022.zip
flash/PipeJam3/SampleWorlds/L11370_V16022Assignments.zip
flash/PipeJam3/SampleWorlds/L11370_V16022Layout.zip
flash/PipeJam3/SampleWorlds/L13724_V1017.zip
flash/PipeJam3/SampleWorlds/L13724_V1017Assignments.zip
flash/PipeJam3/SampleWorlds/L13724_V1017Layout.zip
flash/PipeJam3/SampleWorlds/L21414_V17680_OPT.zip
flash/PipeJam3/SampleWorlds/L21414_V17680_OPTAssignments.zip
flash/PipeJam3/SampleWorlds/L21414_V17680_OPTLayout.zip
flash/PipeJam3/SampleWorlds/hadoop.zip
flash/PipeJam3/SampleWorlds/hadoopAssignments.zip
flash/PipeJam3/SampleWorlds/hadoopLayout.zip
flash/PipeJam3/SampleWorlds/rand-200-1.zip
flash/PipeJam3/SampleWorlds/rand-200-1Assignments.zip
flash/PipeJam3/SampleWorlds/rand-200-1Layout.zip
flash/PipeJam3/SampleWorlds/rand-200-2.zip
flash/PipeJam3/SampleWorlds/rand-200-2Assignments.zip
flash/PipeJam3/SampleWorlds/rand-200-2Layout.zip
flash/PipeJam3/SampleWorlds/rand-200-3.zip
flash/PipeJam3/SampleWorlds/rand-200-3Assignments.zip
flash/PipeJam3/SampleWorlds/rand-200-3Layout.zip
flash/PipeJam3/SampleWorlds/rand-500-1.zip
flash/PipeJam3/SampleWorlds/rand-500-1Assignments.zip
flash/PipeJam3/SampleWorlds/rand-500-1Layout.zip
flash/PipeJam3/SampleWorlds/rand-500-2.zip
flash/PipeJam3/SampleWorlds/rand-500-2Assignments.zip
flash/PipeJam3/SampleWorlds/rand-500-2Layout.zip
flash/PipeJam3/SampleWorlds/rand-500-3.zip
flash/PipeJam3/SampleWorlds/rand-500-3Assignments.zip
flash/PipeJam3/SampleWorlds/rand-500-3Layout.zip
flash/PipeJam3/lib/assets/particle/fanfare.zip
flash/PipeJam3/lib/assets/particle/particle.zip
flash/PipeJam3/lib/audio/axtoncrolley-nodens-field-song-loop.wav
flash/PipeJam3/lib/audio/menu_button.wav
flash/PipeJam3/lib/audio/seatbelt-low.wav
flash/PipeJam3/lib/audio/seatbelt.wav
flash/PipeJam3/lib/levels/bonus/bonus071.zip
flash/PipeJam3/lib/levels/classic2grid.py
flash/PipeJam3/lib/levels/layoutgrid.py
flash/PipeJam3/lib/levels/tutorial/bak/testThree.zip
flash/PipeJam3/lib/levels/tutorial/bak/testThreeConstraints.zip
flash/PipeJam3/lib/levels/tutorial/bak/testThreeLayout.zip
flash/PipeJam3/menubuttonpatch.txt
flash/PipeJam3/tuto/tutorial.zip
flash/PipeJam3/tuto/tutorialConstraints.zip
flash/PipeJam3/tuto/tutorialLayout.zip
flash/flash.zip
flash/level_creation_scripts.zip
flash/level_creation_scripts/testx.py
patch07052013.txt
website/html/scripts/HadoopFive.zip
website/html/scripts/HadoopFiveConstraints.zip
website/html/scripts/HadoopFiveLayout-unstag.zip
website/html/scripts/HadoopFiveLayout.zip
website/html/scripts/HadoopTB.zip
website/html/scripts/HadoopTBConstraints.zip
website/html/scripts/HadoopTBLayout.zip
website/html/scripts/HadoopTypedBytesType110.zip
website/html/scripts/HadoopTypedBytesType110Constraints.zip
website/html/scripts/HadoopTypedBytesType110Layout.zip
website/html/scripts/classic2gridv2.py
website/html/scripts/hadoop-typedbytes-Type.zip
website/html/scripts/hadoop-typedbytes-TypeConstraints.zip
website/html/scripts/hadoop-typedbytes-TypeLayout.zip
website/html/scripts/simplifygrid.py
flash/PipeJam3/.actionScriptProperties
flash/PipeJam3/.externalToolBuilders/prebuild.launch
flash/PipeJam3/.project
flash/PipeJam3/Verigame.lxml
flash/PipeJam3/src/CircleTest.as
flash/PipeJam3/src/display/ColorImage.as
flash/level_creation_scripts/cnstr/hadoop-v8-constraints_dot_files/
flash/level_creation_scripts/cnstr/hadoop-v8-constraints_game_files
flash/level_creation_scripts/networkx-1.9.1
flash/PipeJam3/SampleWorlds/p_000307_00002500.zip
flash/PipeJam3/SampleWorlds/p_000307_00002500Assignments.zip
flash/PipeJam3/SampleWorlds/p_000307_00002500Layout.zip
flash/level_creation_scripts/cnstr/hadoop-v8-constraints.graph
flash/level_creation_scripts/cnstr/hadoop-v8-constraints.graphs
flash/level_creation_scripts/cnstr/hadoop-v8-constraints.json
hadoop-v8-constraints.json
